


@import './utils/variables';
@import './utils/reset';
@import './utils/mixin';


@import './components/modal';
@import './components/logo';
@import './components/section';

@import './layout/body';
@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/works';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';


@import './layout/portfolio_header';
@import './layout/portfolio_main';









