.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: auto;
  padding: 0;
  display: flex;

  & .nav-item:not(:last-child) {
    margin-right: 50px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-address-list {
  // margin-left: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);

  transition: color var(--anim250-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-link-logo {
  margin-right: 93px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.nav-link-address {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: var(--primary-text-color);
  transition: color var(--anim250-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mail-icons{
  margin-right: 10px;
  fill: currentColor;
  @media screen and (min-width: 768px) {
  width: 14px;
    height: 10px;
   
   
  }
  @media screen and (min-width:1200px) {
    
      width: 16px;
      height: 12px;
     
     
     
    }
}

.phone-icons {
  margin-right: 10px;
  fill: currentColor;
  @media screen and (min-width: 768px) {
   width: 10px;
   height: 14px;
  }
  @media screen and (min-width:1200px) {
    
    width: 10px;
    height: 16px;
   
   
   
  }

}


.mob-menu {
  position: fixed;
  display: flex;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open {
  background-color: inherit;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  display: flex;
  background-color: var(--white-color);
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mob-menu-top {
}

.container.mob-width {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.mob-list {
  //   display: flex;
  //   flex-direction: column;
  // gap: 30px;
}
.mob-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.mob-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-link-address {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(30 / 24);
  /* identical to box height */

  letter-spacing: 0.02em;

  color: var(--accent-color);

  .mob-item:not(:first-child) & {
    font-size: 20px;
    line-height: calc(24 / 20);

    color: var(--primary-text-color);

    @media screen and (min-width: 450px) {
      font-size: 24px;
      line-height: calc(28 / 24);
    }
  }

  @media screen and (min-width: 450px) {
    font-size: 34px;
    line-height: calc(40 / 34);
  }
}

.nav-link {
}
.current {
}
.link {
}
.mob-menu-bottom {
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
.nav-link-address {
}
.phone-icons {
}

.current {
  color: var(--accent-color);
  position: relative;

  @media screen and (min-width: 768px) {
    &::after {
      border-radius: 2px;
      position: absolute;
      background: currentColor;
      height: 4px;
      width: 100%;
      display: block;
      left: 0;
      bottom: -1px;
      content: "";
    }
  }
}

.mob-soc-list {
  display: flex;
  gap: 20px;
  margin-top: 64px;
}

.mob-soc-item {
  position: relative;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  letter-spacing: 0.02em;

  color: var(--accent-color);
  .mob-soc-item:not(:first-child) &::before {
    position: absolute;
    height: 22px;

    top: 0;
    content: "";
    left: -10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }

  @media screen and (min-width: 450px) {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
