.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top:118px;
  padding-bottom: 118px;
  
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width:480px) {
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-mob-min.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-mob-2x-min.jpg);
    }
  }

  @media screen and (min-width:768px) {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-tab-min.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-tab-2x-min.jpg);
    }
  }

  @media screen and (min-width:1200px) {
    max-width: 1600px;
    padding-top:200px;
    padding-bottom:200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-desk-min.jpg);
   
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-desk-2x-min.jpg);
    }
    
  }

  
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
font-size: 24px;
line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and (min-width:1200px) {
    
    font-size: 44px;
    line-height: 1.36;
    
  
  }
}

.hero-button {
  padding: 10px 32px;
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color var(--anim250-cubic-bezier);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }


}


