.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  justify-content: flex-start;
  @media screen and (min-width: 480px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.btn-items {
  margin-right: 8px;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.project-list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.project-item {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    
    justify-content: left;

    

    @media screen and (min-width: 1200px) {
      width: calc((100% - 60px) / 3);
      align-items: center;
      justify-content: center;
      max-width: 1200px;
      
    }
  }
}

.project-img {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  font-style: normal;

  font-size: 18px;
  line-height: 1.56;

  bottom: 0;
  padding: 63px 24px;

  letter-spacing: 0.03em;
  color: var(--white-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--anim250-cubic-bezier);
}

.project-link {
  display: block;

  transition: box-shadow var(--anim250-cubic-bezier);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project-text,
  &:focus .project-text {
    transform: translateY(0);
  }
}

.project-border {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
