.team-section {
  background: #f5f4fa;
 
}

.team-title {
  
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  @media screen and (min-width:1200px) {
    font-size: 36px;
line-height: 1.66;
  }
}

.list-team {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  
  gap: 30px;
  @media screen and (min-width:768px){
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width:1200px) {
    justify-content: center;
    align-items: center;
  }
  
  
  
}

.team-items {
  
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width:480px) {
      width: 450px;
    }
    

    @media screen and (min-width:768px) {
      width: calc((100% - 30px) / 2);
      width: 354px;
      
   
    }

    @media screen and (min-width:1200px) {
      width: 270px;
    }
     
    

  
}

.team-block-name {
  padding-top: 16px;
  padding-bottom: 24px;
}

.title-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.position-team {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  color: #afb1b8;
  transition: background-color var(--anim250-cubic-bezier), color var(--anim250-cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.team-icons {
  fill: currentColor;
}
