<div class="mob-menu">
    <button class="menu_close" type="button"> 
      <svg class="menu-close-svg" width="40" height="40">
        <use href="./images/icons.svg#icon-menu_close"></use>
      </svg>
    </button>
      <div class="mob-menu-top">
        
        <ul class="mob-list">
          <li class="mob-item"><a href="" class="mob-link current ">Студія</a></li>
          <li class="mob-item"><a href="./portfolio.html" class="mob-link ">Портфоліо</a></li>
          <li class="mob-item"><a href="" class="mob-link">Контакти</a></li>
        </ul>

      </div>
      <div class="mob-menu-bottom">
        <ul class="mob-list">
          <li class="mob-item">
            <a href="tel:+380961111111" class="mob-link-address link">
              
            +38 096 111 11 11</a
            >
          </li>
          <li class="mob-item">
            <a href="mailto:info@devstudio.com" class="mob-link-address link"
              >
              info@devstudio.com</a
            >
          </li>
          
        </ul>
        <ul class="mob-soc-list">
          <li class="mob-soc-item"><a href="" class="mob-soc-link">Instagram</a></li>
          <li class="mob-soc-item"><a href="" class="mob-soc-link">Twitter</a></li>
          <li class="mob-soc-item"><a href="" class="mob-soc-link">Facebook</a></li>
          <li class="mob-soc-item"><a href="" class="mob-soc-link">LinkedIn</a></li>
        </ul>
      </div>

    </div>