.modal {
	position: absolute;
	padding: 40px;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: transform var(--anim250-cubic-bezier);
	width: 450px;
	height: 609px;

	border-radius: 4px;
	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	
	@media screen and (max-width:479px) { 
		width: 95%;
		max-width:450px;
	}

	// 	@media screen and (min-width: 480px) {
	// 	width: 450px;
	// 	// padding: 40px;
	// }
	// @media screen and (min-width:768px){
	// width: 450px;
	// }
	@media screen and (min-width: 1200px) {
		width: 528px;
		height: 581px;
	}

}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0) rotate(100deg);
	// transition-duration: 250ms;
}

.modal-close {
	position: absolute;
	display: flex;
	align-items: center;
	cursor: pointer;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);

	fill: #000000;
	transition: fill var(--anim250-cubic-bezier);

	background-color: var(--white-color);
	opacity: 1;

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

.form-field {
	margin-bottom: 10px;
}

.modal-title {
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-bottom: 12px;
}
.form-label {
	display: block;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #757575;
}

.form-position-icon {
	position: relative;
	margin-top: 4px;
}

.form-icon {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 15px;
	fill: var(--title-text-color);
	transition: fill var(--anim250-cubic-bezier);
}

.form-input {
	font-style: normal;
	width: 100%;
	height: 40px;
	font-size: 12px;
	line-height: 1.16px;
	padding-left: 42px;

	letter-spacing: 0.01em;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border var(--anim250-cubic-bezier);
	outline: none;

	&:focus {
		border: 1px solid var(--accent-color);
	}

	&:focus ~ .form-icon {
		fill: var(--accent-color);
	}
}

.form-comment {
	display: block;
	margin-top: 4px;
	width: 100%;
	height: 120px;
	resize: none;
	padding: 12px 16px;
	outline: none;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border var(--anim250-cubic-bezier);

	&::placeholder {
		font-size: 12px;
		line-height: 1.16;
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);
	}

	&:focus {
		border: 1px solid var(--accent-color);
	}
}

.modal-link {
	color: var(--accent-color);
	text-align: center;
	text-decoration: underline;

	@media screen and (max-width: 479px) {
		// position: absolute;
		// margin-top: 40px;
		// margin-right: 90px;
	}
}

.form-label-policy {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
	font-style: normal;

	font-size: 12px;
	line-height: 1.16;

	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	@media screen and (min-width: 480px) {
		// font-size: 12px;
	}
	@media screen and (min-width: 768px) {
		// font-size: 12px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 24px;
	}
}

.form-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 15px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	margin-right: 7px;
	transition: border-color var(--anim250-cubic-bezier),
		background-color var(--anim250-cubic-bezier);
}

.checkbox-icon {
	fill: transparent;
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;

	&:checked + .form-label-policy .form-checkbox {
		background-color: var(--accent-color);
		border-color: var(--accent-color);
	}

	&:focus + .form-label-policy .form-checkbox {
		border-color: var(--accent-color);
	}
}

.modal-btn {
	padding: 10px 52px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	display: flex;
	align-items: center;

	letter-spacing: 0.06em;
	background-color: #2196f3;
	color: var(--white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color var(--anim250-cubic-bezier);

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}
